body{
	background-color:#033;
	padding-top: 70px;
}

#container{
	background-color: rgba(255,255,255,0.5);
}

#jumbotron{
	top: 10px;
}

#formularios
{
	background:#FF9;
	font:Verdana, Geneva, sans-serif;
	color:#606;
	
	
}